.gallery-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin-top: 13px;
  margin-left: 7px;
  max-height: 500px;
  overflow-y: auto;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 17px;
  margin-right: 3px;
}

.gallery-title {
  font-size: 16px;
  margin-bottom: 8px;
  margin-top: 11px;
  color: #333 !important;
}

.gallery-image {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  border: 4px solid transparent;
  transition: border-color 0.3s ease;
  margin-left: 4px;
  margin-right: 4px;
}

.gallery-image.viewed {
  border-width: 4px;
  border-style: solid;
}
